[submodule "MultilinearReconstruction"]
	path = MultilinearReconstruction
	url = https://github.com/phg1024/MultilinearReconstruction.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "json"]
	path = json
	url = ../../nlohmann/json.git
